VITE_SUPABASE_URL=https://randomgeneratedchar.supabase.co
VITE_SUPABASE_ANON_KEY=eJskjefsejfskejfkesjfleskjfeslkfjlekjkj
VITE_SUPABASE_FUNCTIONS_URL=https://randomgeneratedchar.supabase.co/functions/v1
